html {
  overflow-y: scroll;
}

a img {
 border: 0;
}

body {
  color: black;
  background-color: white;
  font-family: Optima, Arial, Verdana, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  padding-left: 1em;
  padding-right: 1em;
  background: #FFCC66;
  font-size: 120%;
  font-weight: bold;
}

.breadcrumb a,span.not-this {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumb a:hover {
    color: blue;
    text-decoration: underline;
}

#logout {
    float: right;
}

#class-score table {
    width: 100%;
    text-align: center;
    background: #eceeec;
    border-radius: 10px;
}

div.assignments h1 {
    text-align: center;
    font-size: large;
}

table.assignment {
    width: 100%;
    margin-bottom: 1em;
    border: 1px dashed;
    border-radius: 5px;
}

table.assignment.optional {
    background: #b5d6f8;   
}

table.assignment.optenable {
    background: #b5f8be;
}

table.assignment tr td:nth-child(1) {
    width: 15%;
}
table.assignment tr td:nth-child(2) {
    width: 30%;
}

span.A {
    color: #00FF15;
}

span.B {
    color: #80FF00;
}

span.C {
   color: #EEFF00;
}

span.D {
    color: #FF8000;
}

span.F {
    color: #FF1E00;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

div.eval table {
    width: 100%;
}

div.eval table tr td {
    vertical-align: text-top;
}

div.eval table tr td.files-cell {
    width: 50%;
}

.prompt-cell div.answers {
    margin-bottom: 1em;
    border: 1px dashed;
    border-radius: 5px;
    padding-left: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.prompt-cell div.answers p span.weight {
    margin-right: 0.5em;
    background: #eceeec;
}

.files {
    width: 100%;
    margin-top: 1em;
    min-width: 45%;
    min-height: 5em;
    background: #eceeec;
    border-radius: 10px;
}

.notice {
    font-style: italic;
}

table.upload-table tr td {
    padding-right: 3em;
    padding-left: 3em;
}

.highlight {
    background-color: yellow;
}

#grade-button {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table#grades {
    width: 100%;
}

table#grades thead tr {
    background: #FFCC66;
}

table#grades tbody tr:nth-child(2n) {
    background: #F5F5DC;
}

table#grades th:nth-child(2),th:nth-child(3) {
    text-align: right;
}

table#grades tr td:nth-child(2),td:nth-child(3) {
    text-align: right;
}

div.student-info {
    text-align: center;
    float: right;
}

#footer {
    text-align: right;
    width: 100%;
    background: #F5F5DC;
    margin-top: 2em;
}
